{% extends 'base.html' %}

{% block content %}
<div class="register">

  <div class="logo">
    <div class="circle_main"></div>
    <div class="circle">
      <div id="additional"></div>
    </div>
    <h4></h4>
  </div>
  <div id="input">
    <form class="login100-form validate-form" id="myForm" style="margin:auto;">
      <span class="login100-form-title">
        Member registration
      </span>

      <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email" placeholder="Email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="password" placeholder="Password">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
      </div>
      <div class="container-login100-form-btn">
        <button class="login100-form-btn">
          Login
        </button>
      </div>
      <div class="text-center p-t-12">
        <span class="txt1">
          Forgot
        </span>
        <a class="txt2" href="#">
          Username / Password?
        </a>
      </div>
      <div class="text-center p-t-136">
        <a class="txt2" href="/register">
          Register
          <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
      </div>
    </form>
    <div class="result"></div>
  </div>
</div>

<div class="container">
  <div class="video__home">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GbLQE2C181U" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
<div class="container">
  <div class="tabliza__home">
    <table border="1">
      <thead>
        <tr class="tabliza__mainTitle">
          <th colspan="4">Tablica</th>
        </tr>
      </thead>

      <tr>
        <td>Задача</td>
        <td>Большая</td>
        <td>Средняя</td>
        <td>Малая</td>
      </tr>
      <tr>
        <td>Распознование изображения</td>
        <td>Стоимость Время Вес(в КБ)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <button type="button" class="btn fiolBtn" name="button">Приступить</button>
</div>


{#<script type=text/javascript>#}
{##}
{#  const form = document.getElementById( "myForm" );#}
{#  form.addEventListener( "submit", function ( event ) {#}
{#    event.preventDefault();#}
{#  });#}
{##}
{#    let a;#}
{#    let last;#}
{#      $(function() {#}
{#        console.log("INIT"+String($SCRIPT_ROOT));#}
{#        $('.login100-form-btn').bind('click', function() {#}
{##}
{#                if ($('input[name="email"]').val() == "" ){#}
{#                    $(".result").addClass("error");#}
{#                    $(".result").text("Все поля должны быть заполнены");#}
{#                    return false;#}
{#                }#}
{#                if ($('input[name="password"]').val() == ""){#}
{#                    $(".result").addClass("error");#}
{#                    $(".result").text("Все поля должны быть заполнены");#}
{#                    return false;#}
{#                }#}
{#                console.log("SEND_TO"+String($SCRIPT_ROOT));#}
{#                var jqxhr = $.post( $SCRIPT_ROOT + '/auth/register',#}
{#                {#}
{#                    email: $('input[name="email"]').val(),#}
{#                    password: $('input[name="password"]').val()#}
{#                },#}
{#                function(data) {#}
{#                    alert( "success" );#}
{#                    console.log( data );#}
{#                    })#}
{#                    .done(function(data) {#}
{#                        alert( "second success" );#}
{#                        console.log( data );#}
{#                        a = data;#}
{#                        $(".result").text(data.message);#}
{#                    })#}
{#                    .fail(function(data) {#}
{##}
{#                        console.log(data)#}
{##}
{#                        alert( "error" );#}
{#                        $(".result").text(data.responseJSON.message);#}
{#                    }).always(function(data){#}
{#                        last = data;#}
{##}
{#                    });#}
{#            });#}
{#          });#}
{##}
{##}
{##}
{##}
{#        /*$(function() {#}
{#        console.log("INIT"+String($SCRIPT_ROOT));#}
{#            $('input[name="submit"]').bind('click', function() {#}
{#                console.log("SEND_TO"+String($SCRIPT_ROOT));#}
{#              $.getJSON($SCRIPT_ROOT + '/auth/register', {#}
{#                email: $('input[name="nickname"]').val(),#}
{#                password: $('input[name="password"]').val()#}
{#              }, function(data) {#}
{#                console.log("result:"+String(data));#}
{#                $(".result").text(data.result);#}
{#              });#}
{#              return false;#}
{#            });#}
{#          });*/#}
{##}
{##}
{#          /*$(function() {#}
{#        console.log("INIT"+String($SCRIPT_ROOT));#}
{#            $('input[name="submit"]').bind('click', function() {#}
{#                console.log("SEND_TO"+String($SCRIPT_ROOT));#}
{#              $.getJSON($SCRIPT_ROOT + '/_add_numbers', {#}
{#                a: 1,//$('input[name="a"]').val(),#}
{#                b: 2,//$('input[name="b"]').val()#}
{#              }, function(data) {#}
{#                $(".result").text(data.result);#}
{#              });#}
{#              return false;#}
{#            });#}
{#          });*/#}
{#    </script>#}
{% endblock %}