{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="video__home">
<iframe width="560" height="315" src="https://www.youtube.com/embed/GbLQE2C181U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
  <div class="container">
<div class="tabliza__home">
<table border="1">
<thead>
  <tr class="tabliza__mainTitle">
    <th colspan="4">Tablica</th>
  </tr>
</thead>

<tr>
  <td>Задача</td>
  <td>Большая</td>
  <td>Средняя</td>
  <td>Малая</td>
</tr>
<tr>
  <td>Распознование изображения</td>
  <td>Стоимость Время Вес(в КБ)</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</table>
</div>
<button type="button" class="btn fiolBtn" name="button">Приступить</button>
  </div>
{% endblock %}
