<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
  <div class="container cont-nav">
  <nav class="navigation">
    <logo><img src="img\logo.png" alt=""></logo>
    <div class="nav__link">
      <div class=""><a href="#">Главная</a></div>
      <div class=""><a href="#">Загрузка\Выбор</a></div>
      <div class=""><a href="#">Результат</a></div>
    </div>
    <div class="uchet">
          <blanc>Баланс:54$</blanc>
          <login>
            <div class="login__icon"></div>
            <button type="button" class="btn btn-primary" name="Bxod">Bxod</button>
          </login>
    </div>
  </nav>
  </div>
  <div class="container">
    <div class="video__home">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/EY0qVO9Mwh8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
    <div class="container">
  <div class="tabliza__home">
<table border="1">
  <thead>
    <tr class="tabliza__mainTitle">
      <th colspan="4">Tablica</th>
    </tr>
  </thead>

  <tr>
    <td>Задача</td>
    <td>Большая</td>
    <td>Средняя</td>
    <td>Малая</td>
  </tr>
  <tr>
    <td>Распознование изображения</td>
    <td>Стоимость Время Вес(в КБ)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
  </div>
  <button type="button" class="btn fiolBtn" name="button">Приступить</button>
    </div>

<script  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
