<style>
    .modal-dialog-centered {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        top: -20%;
    }
</style>

<div class="modal" id="loginModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="loginForm">
                    {{ login_form.hidden_tag() }}
                    <div class="form-group">
                        {{ login_form.email.label }}
                        {{ login_form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label }}
                        {{ login_form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ login_form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <a href="#" data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Register</a>
            </div>

        </div>
    </div>
</div>

<!-- Register Modal -->
<div class="modal" id="registerModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="registerForm">
                    {{ register_form.hidden_tag() }}
                    <div class="form-group">
                        {{ register_form.email.label }}
                        {{ register_form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ register_form.password.label }}
                        {{ register_form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ register_form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <a href="#" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login</a>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#loginForm').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "/auth/login",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.status === 'success') {
                        alert(response.message);
                        $auth_token = response['auth_token'];
                        localStorage.setItem('token', $auth_token);
                        localStorage.setItem('loggedIn', true);
                        toggleLoginLogout();
                         $('#loginModal').modal('hide');
                    } else {
                        alert('Login failed. Please check your email and password.');
                    }
                },
                error: function(error) {
                    console.log(error);
                    alert(error.responseJSON.message);
                },
            });
        });

        $('#registerForm').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "/auth/register",
                data: $(this).serialize(),
                success: function(response) {
                    console.log(response);
                    if (response.status === 'success') {
                        alert(response.message);
                        $('#registerModal').modal('hide');
                    } else {
                        alert(response.message);
                    }
                },
                error: function(error) {
                    console.log(error);
                    alert(error.responseJSON.message);
                },
            });
        });
    });
</script>
